
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #141414, #2c2c2c);
    color: #cccccc;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeIn 1s ease-in;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 10px;
    animation: slideIn 1s ease-in;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
    color: #ffffff;
    animation: zoomIn 1s ease-in;
}

.about, .vision {
    background: rgb(95, 93, 93);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.about:hover, .vision:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}