* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1445537748/ru/%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE/%D1%81%D0%BA%D0%BE%D0%BC%D0%BA%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9-%D0%BB%D0%B8%D1%81%D1%82-%D0%B1%D1%83%D0%BC%D0%B0%D0%B3%D0%B8-%D0%B0%D0%BD%D0%B8%D0%BC%D0%B0%D1%86%D0%B8%D1%8F-%D1%81%D1%82%D0%BE%D0%BF-%D0%BC%D0%BE%D1%83%D1%88%D0%BD-%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D1%81%D0%BA%D0%BE%D0%BC%D0%BA%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%BB%D0%B8%D1%81%D1%82%D0%BE%D0%B2-%D0%B1%D0%B5%D0%BB%D0%BE%D0%B9-%D0%BE%D1%84%D0%B8%D1%81%D0%BD%D0%BE%D0%B9.jpg?s=640x640&k=20&c=I6UWdaEjBuAfFg5BPcIw-uR34j8jP3QZJuREp8kwgFI=');
    background-color: #f0f0f0;
}

.wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input.box {
    margin-bottom: 15px;
}

.input.box .input-box {
    margin-top: 10px;
}

.input.box input[type="text"], .input.box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

.input.box input[type="text"]:focus, .input.box input[type="password"]:focus {
    border: 1px solid #007BFF;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link, .toggle-link {
    margin-top: 10px;
    text-align: center;
}

.toggle-link button {
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;
}

.toggle-link button:hover {
    text-decoration: none;
}

@media (max-width: 400px) {
    .wrapper {
        width: 90%;
        padding: 15px;
    }
}
